.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

:root {
  --dark-accent-color: #47281a;
  --dark-color: #663926;
  --mid-color: #e27b58;
  --light-color: #f9b697;
  --p1-color: rgb(249, 60, 60);
  --p2-color: rgb(45, 45, 245);

  /* Numbers define values that will be used throughout the CSS.
  --tile-size: 20px for example will set size of the grid squares. */
  --cols: 32;
  --rows: 32;
  --tile-size: calc(90vmin / var(--cols));
  --border-width: 1px;
}

.row-structure {
  display: flex;
  flex-direction: row-reverse;
}
