.side-panel {
  background-color: var(--mid-color);
  flex-grow: 0;
  width: 30vw;
  height: 100vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

h1 {
  font-family: "Earth Orbiter", sans-serif;
  color: var(--dark-color);
  font-size: 4.5vmin;
  padding: 3vmin;
}

.graph {
  margin-top: 5vmin;
  margin-bottom: 5vmin;
  overflow-wrap: break-word;
}

.file-upload {
  width: 25vw;
  margin: 0 2vw 0 2vw;
  background: var(--light-color);
  border-radius: 5px;
  border: 2px solid var(--dark-color);
  font-family: "Helveltica Nue", sans-serif;
  font-size: 2vmin;
}

.file-upload::file-selector-button {
  font-weight: bold;
  color: var(--light-color);
  background: var(--dark-color);
  border: 1px solid var(--dark-color);
  padding: 1vmin;
  cursor: pointer;
}

.file-upload::file-selector-button:hover {
  color: var(--light-color);
  background: var(--dark-accent-color);
}

.btn-custom {
  font-size: 2.5vmin;
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-custom:focus {
  background: var(--dark-color);
  color: var(--light-color);
}

.btn-custom:hover {
  background: var(--dark-accent-color);
  color: var(--light-color);
}

.btn-custom:disabled {
  background: var(--dark-color);
  color: var(--light-color);
}
