.board {
  display: grid;
  grid-template-columns: repeat(var(--cols), var(--tile-size));
  grid-gap: 0;
  align-items: center;
  padding: 3.5vmin 12vw 3.5vmin 12vw;
}

.board.grid {
  position: relative;
}

.board.robot {
  position: absolute;
  z-index: 1;
}

.board.visibility {
  position: absolute;
  z-index: 2;
}

.grid-square {
  width: var(--tile-size);
  height: var(--tile-size);
  border-style: solid;
  border-width: var(--border-width);
}

.grid-square.p1tint {
  background-color: rgba(249, 60, 60, 0.4);
}

.grid-square.p2tint {
  background-color: rgba(45, 45, 245, 0.4);
}

img {
  width: var(--tile-size);
  height: var(--tile-size);
}

/* empty tile */
.color-0 {
  background-color: #c67b5c;
}

/* impassable tile */
.color-1 {
  background-color: rgb(77, 75, 71);
}

/* metal tile */
.color-2 {
  background-color: rgb(219, 93, 20);
}

/* terraformed tile red */
.color-3 {
  background-color: var(--p1-color);
}

/* terraformed tile blue */
.color-4 {
  background-color: var(--p2-color);
}
